<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>333189456537-69tkaput3b4qiead7dnte0fje0etf5sh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.333189456537-69tkaput3b4qiead7dnte0fje0etf5sh</string>
	<key>API_KEY</key>
	<string>AIzaSyCWA0nK86sbkk8-LHSKGE-icM95X2VwGak</string>
	<key>GCM_SENDER_ID</key>
	<string>333189456537</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.square</string>
	<key>PROJECT_ID</key>
	<string>square-d15d6</string>
	<key>STORAGE_BUCKET</key>
	<string>square-d15d6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:333189456537:ios:4fbe41ef67c1c8b4734e08</string>
</dict>
</plist>