name: Continuous Integration and Delivery

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
      - name: Set up Ruby
        uses: ruby/setup-ruby@ec02537da5712d66d4d50a0f33b7eb52773b5ed1
        with:
          ruby-version: '3.1'
      - name: Install Fastlane
        run: gem install fastlane
      - name: Install Flutter
        uses: subosito/flutter-action@v2.10.0
      - run: flutter --version
      - name: Install dependencies
        run: flutter pub get
#      - name: Run tests
 #       run: fastlane test
     # - name: Analyze code
       # run: fastlane analyze
      - name: Bundle update
        working-directory: ./android
        run: bundle update
      - name: Build and deliver to testers
        working-directory: ./android
        run: bundle exec fastlane deliver_android
        env:
          FIREBASE_TOKEN: ${{ secrets.FIREBASE_TOKEN }}
